*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Tahoma;
}
h1{
    text-align: center;
    margin-top: 40px;
}
#container{
    margin: 50px auto 0px auto;
    width: 80%;
    text-align: center;
    background-color:lightgreen;
    border-radius: 20px;
    padding: 40px;
}
.input-div{
    display: inline-block;
}
.input{
    padding: 50px 0px;
    margin: 10px;
    font-size: 50px;
    font-weight: bold;
    width: 20px;
    text-align: center;
    border-radius: 10px;
}
label{
    font-size: 30px;
}